* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

figure {
    width: max-content;
    display: flex;
}