* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style: none;
    display: flex;
    column-gap: 1rem;
}

li {
    cursor: pointer;
}

input[type='checkbox'] {
    display: none;
}

h2 {
    font-weight: normal;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}